
* {
	margin: 0;
	padding: 0;
}

body {
	background: #f6f6f5;
}

.grid {
	padding: 20px;
	margin: 0 auto;
}

.grid-item {
	width: 600px;
	margin-bottom: 20px;
}

.property:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

code {
	font: 15px Courier;
	color: #333;
	line-height: 22px;
}

a, a:active, a:visited, a:hover {
	color: #f16725;
	text-decoration: none;
	border-bottom: 1px solid #f16725;
}

a:hover {
	border-bottom: 2px solid #f16725;
}

.modelTitle {
	margin: 10px 0;
}

.modelTitle code {
	font-weight: bold;
	font: 22px Courier;
	color: 000;
	text-shadow: 0 1px 0 #fff;
}

.models {
	padding: 30px;
	background-color: #fdfdfc;
	border: 1px solid #c6c6c6;
}

.propType {
	float: right;
	padding-right: 20px;
}

code {
	color: #000;
}

.numberType {
	color: #009926;
}

.dateType {
	color: #666;
}

.stringType {
	color: #dd1144;
}

.booleanType {
	color: #0086b3;
}

.otherType {
	color: #666;
}
